
<!-- Home window for HR Dashboard -->
<div class="container-home">

    <div class="container-home__sec1">
        <div class="container-home__sec1__left">
            <app-activity-chart></app-activity-chart>
        </div>
        <div class="container-home__sec1__mid">
            <app-total-employees></app-total-employees>
        </div>
        <div class="container-home__sec1__right" >
            <app-charts></app-charts>
        </div>
    </div>

    <div class="container-home__sec2">
        <div class="container-home__sec2__left">
            <app-leave-list></app-leave-list>
        </div>
        <div class="container-home__sec2__right" style="background-image: url(./assets/images/bg-img1.jpg);">
           
        </div>
    </div>

</div>