<!-- To edit the employee details by admin -->
  
<router-outlet></router-outlet>
<div class="create-emp">
   
<form (ngSubmit)="updateUserData(f)" #f="ngForm">
    <div *ngIf="employee">
  
    <div class="row">
      <div class="col">
      <input type="text" class="form-control" placeholder="Fullname" name="username" [(ngModel)]="employee.username" #username="ngModel" required >
      <div class="error-text" *ngIf="username.errors?.['required']">this field is required.</div>
      <br><br></div>
      <div class="col">
      <input type="text" class="form-control" placeholder="Age" name="age" [(ngModel)]="employee.age" #age="ngModel" pattern="[0-9]{2}"  required>
      <div class="error-text" *ngIf="age.errors?.['required']">this is required.</div>
      <div class="error-text" *ngIf="age.errors?.['pattern']">Enter Your age in 2 digit.</div>
      <br><br></div>
    </div>  
    <div class="row"> 
      <div class="col">
      <input type="date" class="form-control" placeholder="DOB" name="dob" [(ngModel)]="employee.dob" #dob="ngModel"  required>
      <div class="error-text" *ngIf="dob.errors?.['required']">date is required.</div><br><br>
      <br><br></div>
      <div class="col">
      <input type="text" class="form-control" placeholder="Blood Group" name="blood_grp" [(ngModel)]="employee.blood_grp" #blood_grp="ngModel"  required>
      <div class="error-text" *ngIf="blood_grp.errors?.['required']">This field is required.</div><br><br>      <br><br></div>
    </div>
    <div class="row">
      <div class="col">
        <input type="text" class="form-control"  placeholder="Gender" name="gender"  [(ngModel)]="employee.gender" #gender="ngModel" required>
        <div class="error-text" *ngIf="gender.errors?.['required']">This field is required.</div><br><br>      </div>
  
  
      <div class="col">
      <input type="text" class="form-control" placeholder="Job Role" name="role" [(ngModel)]="employee.role" #role="ngModel"  required>
      <div class="error-text" *ngIf="role.errors?.['required']">This Field is required.</div><br><br>  </div>
    </div>  
    <div class="row">
      <div class="col">
      <input type="text" class="form-control"  placeholder="email" name="email"  [(ngModel)]="employee.email" #email="ngModel" required>
      <div class="error-text" *ngIf="email.errors?.['required']">This Field is required.</div>      <br><br></div>
      <div class="col">
      <input type="text" class="form-control"  placeholder="Phone" name="phone"  [(ngModel)]="employee.phone" pattern="[0-9]{10}" #phone="ngModel" required>
      <div class="error-text" *ngIf="phone.errors?.['required']">This Field is required.</div> 
      <div class="error-text" *ngIf="phone.errors?.['pattern']">Enter a valid 10 digit phone number.</div> 
      <br><br></div>
    </div>
    <div class="row">
      <div class="col">
      <input type="text" class="form-control"  placeholder="Password" name="assword"  [(ngModel)]="employee.password" #password="ngModel" pattern="[a-zA-Z0-9@.]+$"  required>
      <div class="error-text" *ngIf="password.errors?.['required']">This Field is required.</div>
      <div class="error-text" *ngIf="password.errors?.['pattern']">please enter pattern .</div>
      <!-- <div *ngIf="password.errors?.['minlength']">please enter minimum 5 characters.</div>  -->
           <br><br></div>
      <div class="col">
      <input type="file"  name="image" class="form-control" [(ngModel)]="employee.image" #image="ngModel"  required>
      <div class="error-text" *ngIf="image.errors?.['required']">This Field is required.</div>      
    </div></div>
  
      <button class="btn btn-primary" [disabled]="!f.valid">Submit</button>
    </div>  
    </form>
</div>