
<!-- this window enables the employee to change their password -->

<div class="container-fluid">
    <div class="card">
      <h4 class="h4-style">Change your password</h4>
    
    <form [formGroup]="myForm" (ngSubmit)="getPassword()">
        <div>
      
        <div class="row">
          <div class="col">
        <label>New Password</label>
          <input type="text" class="form-control" placeholder="Password" name="password" formControlName="password"  required >
           <span class="error-text" *ngIf="password && password.touched && password.invalid">This field is invalid</span><br> 
        </div>
        
        </div></div>
        <div><button class="card__btn" [disabled]="myForm.invalid">Change Password</button></div>
        </form>
    
      </div>
    </div>
