// html,body{
//     margin: 0;
//     padding: 0;
// }
.profile{
    background-color: rgb(226, 244, 249); 
    display: flex;
    width: 1000px;
    padding: 10px;
    height: 300px;
    padding: 10px;
    flex-direction: column;
    
    
 
 &__sec2{
     display: flex;
     flex-direction: row;
     width: 1000px;
     height: 250px;
     align-items: center;
     &__imageholder{
         display: flex;
         width: 200px;
         background-color: white;
         height: 200px;
         border-radius: 20px;
         img{
             height: auto;
             width: 200px;
             border-radius: 20px;
 
         }
 
    }
    &__info{
     display: flex;
     flex-direction: column;
     width: 400px;
     justify-content: center;
     margin-left: 50px;
     letter-spacing: 2px;
    }
 }
 
 }
 .profile-edit{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
 }
 .h4-style{
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 2px;
    color:rgb(21, 80, 231);
    padding: 50px;
}
h1{
    margin-left: 50px;
    color: rgb(58, 58, 237);
}