<!-- This window displays dummy images of employees  -->
<h6>Total-employees - 200</h6>
<div class="container-employee">
    
    <div class="container-employee__sec1">
        <div class="container-employee__sec1__left" style="background-image: url(./assets/images/profilepic/person2.jpg);"></div>
        <div class="container-employee__sec1__left" style="background-image: url(./assets/images/profilepic/person1.jpg);"></div>
        <div class="container-employee__sec1__left" style="background-image: url(./assets/images/profilepic/person3.jpg);"></div>
    </div>
    <div class="container-employee__sec2">
        <div class="container-employee__sec2__left" style="background-image: url(./assets/images/profilepic/person4.jpg);"></div>
        <div class="container-employee__sec2__left" style="background-image: url(./assets/images/profilepic/person5.jpg);"></div>
        <div class="container-employee__sec2__left" style="background-image: url(./assets/images/profilepic/person1.jpg);"></div>
    </div>
</div>