<!-- This is the employee dashboard window -->
<div class="container-fluid">
    <div class="hr-navbar">
        <div class="hr-navbar__code-logo"><i class="bi bi-code-square"></i>
          <h4>EMPLOYEE DASHBOARD</h4></div>
          <div class="account-style">
            <a class="account-style"  (click)="detectComp('emp-settings')">{{ user[0].username }}</a>
            <img src="./assets/images/profilepic/person-img.jpg" alt="account">
          </div>
    </div>

    <div class="hr-home">
        <div class="hr-home__sidebar">
            <div>
              
                    <div class="hr-home__list"><button class="btn-blue" type="button" (click)="detectComp('emp-profile')">Dash board</button></div>
                    <div class="hr-home__list"><button class="btn-blue" type="button" (click)="detectComp('emp-leave')">Apply Leave</button></div>
                    <div class="hr-home__list"><button class="btn-blue" type="button" (click)="detectComp('emp-leave-details')">Leave Details</button></div>
                    <div class="hr-home__list"><button class="btn-blue" type="button" (click)="detectComp('emp-settings')">Account</button></div>
                    <div  class="hr-home__list"><button class="btn-blue" (click)="logout()">Logout</button></div>
               
            </div>
        </div>
        <div class="hr-home__content">
            <!-- Welcome {{user | json}} -->
            <ng-container *ngComponentOutlet ="comp"></ng-container>
            <router-outlet></router-outlet></div>
    </div>   
</div>


